<td id="story-<%= story.id %>-approval">
	<% if story.approved? %>
		<%= t('basics.yes') %>
	<% else %>
		<%= button_to(vt('approve'), approve_admin_story_path(story), method: :patch, remote: true, class: 'btn btn-primary') %>
	<% end %>
</td>
