<td id="story-<%= story.id %>-approval">
  <% if story.approved? %>
    <%= t('basics.yes') %>
  <% else %>
    <%= button_to(vt('approve'), admin_story_approval_path(story), method: :post, remote: true, class: 'btn btn-primary') %>
  <% end %>
</td>
