<td id="story-<%= story.id %>-approval">
	<% if story.approved? %>
		Yes
	<% else %>
		<%= button_to('Approve', approve_admin_story_path(story), method: :patch, remote: true, class: 'btn btn-primary') %>
	<% end %>
</td>
