<div class="page-header">
	<h1><%= vt('about') %></h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="col-md-6 col-sm-8 col-xs-12 pull-right right-image">
			<%= image_tag('crim-dell-bridge.jpg', class: 'img-responsive img-rounded center-block') %>
		</div>

		<div id="lg-font">
			<p><%= vt('para1') %></p>
			<p><%= vt('para2') %></p>
		</div>
	</div>
</div>
