<div class="page-header">
	<h1>About</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="col-md-6 col-sm-8 col-xs-12 pull-right right-image">
			<%= image_tag('crim-dell.png', class: 'img-responsive img-rounded center-block') %>
		</div>
		
		<p>The goal of this project: collect stories from the William and Mary community and share memories from our campus.</p>
		
		<p>While reviewing a sketch of the William and Mary campus, five alumni began pointing out to each other some of the locations that were important to them. They quickly realized that the sketch represented their intertwined William and Mary experience all in one image despite having different memories at the same locations. As the oldest university in the United States, the College has multi-generational layers of memory. It's a place of history, our history, as a community - as a tribe. Even as the physical campus continues to evolve, generations of tribe members both new and old continue to create memories</p>
		
		<p>This site is still very much in beta. Send any feedback <%= mail_to('kevin.deisz@gmail.com', 'here') %>.
	</div>
</div>
