<div class="page-header">
	<h1>About</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="col-md-6 col-sm-8 col-xs-12 pull-right right-image">
			<%= image_tag('crim-dell.png', class: 'img-responsive img-rounded center-block') %>
		</div>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam urna enim, posuere eu tellus ut, molestie gravida quam. Integer quis laoreet massa, ac molestie lectus. Nunc placerat nibh a urna malesuada, non lobortis lectus vehicula. Curabitur aliquet neque enim, quis tempor velit tristique eget. Aliquam luctus massa mauris, sed tempor sapien feugiat tincidunt. Ut non molestie lectus. Suspendisse quis mi magna.</p>
	
		<p>Donec consectetur lobortis felis eget condimentum. Etiam ac ullamcorper nisl. Duis hendrerit ligula efficitur, blandit dolor id, placerat massa. Sed at nisi id dolor malesuada feugiat. Suspendisse varius lacus at velit commodo pulvinar. Nullam auctor scelerisque ligula, ac semper mauris vehicula ut. Donec accumsan pretium nunc vitae vehicula. Sed tincidunt lacus orci, et vestibulum mi dapibus eget. Mauris imperdiet ante augue, eu dignissim leo auctor eu. Praesent feugiat, lectus ullamcorper consequat maximus, lorem sapien dapibus justo, sit amet sodales diam dui id diam.</p>
	
		<p>Mauris ac diam eu lacus finibus interdum sit amet vitae lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris mi ligula, vulputate in tortor quis, pharetra consectetur diam. Vestibulum ut tellus vitae elit fermentum vulputate. Aenean ac nibh placerat, commodo quam id, tempus nulla. Sed posuere ante ut justo venenatis posuere. Etiam faucibus varius lorem. Praesent ex ipsum, egestas eget odio sit amet, ornare iaculis velit. Fusce tincidunt imperdiet metus eget tempus. Nunc vulputate turpis quis est tempus, a efficitur orci feugiat.</p>
	
		<p>Nam at velit ornare, pharetra augue non, pharetra neque. Nunc facilisis metus sit amet lorem fermentum, vitae rutrum ligula lacinia. Nullam ornare tincidunt sodales. Curabitur elementum aliquet est rhoncus sollicitudin. Phasellus id massa ex. Suspendisse potenti. Vivamus sit amet velit sit amet nisi tempor porta. Praesent euismod quam pharetra, pretium magna at, suscipit libero. Curabitur sem nisl, feugiat in imperdiet nec, pharetra id odio. In turpis purus, aliquet eu sollicitudin et, egestas quis est.</p>
	
		<p>Phasellus pellentesque efficitur libero, ut convallis felis tristique nec. Aliquam pretium lectus a dolor sodales consequat. Vestibulum id orci mauris. Aenean felis ex, mattis nec pharetra id, commodo nec mauris. Pellentesque vehicula, odio quis viverra commodo, quam lorem rutrum elit, nec rutrum dolor lorem ut massa. Pellentesque porttitor ornare felis et semper. Mauris sed ullamcorper lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc lacinia est a felis porta, quis fringilla elit tempus. Quisque quis sem sem.</p>
	</div>
</div>
