<div class="page-header">
	<h1>About</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="col-md-6 col-sm-8 col-xs-12 pull-right right-image">
			<%= image_tag('crim-dell.png', class: 'img-responsive img-rounded center-block') %>
		</div>
		
		<p>The Project:</p>
		
		<p>While reviewing a sketched map of the William and Mary campus, five alumni began pointing out to each other some of the locations that were important to them during their time at the College. They quickly realized that despite having different experiences throughout their 4 years, their individual memories were all captured within a single map.</p>
		
		<p>As the oldest university in the United States, W&amp;M has provided memories to generations of students and alumni. It's a place of history - our history, as a community and as a Tribe. Despite new construction and other changes over the years, the campus has remained the one constant throughout every student's college experience. We seek to celebrate that by welcoming all students, past and present, to share their own memories on this website.</p>
		
		<p>This site is still very much in beta. Send any feedback <%= mail_to('kevin.deisz@gmail.com', 'here') %>.
	</div>
</div>
