<div class="page-header">
	<h1><%= vt('index.title') %></h1>
</div>

<%= render(template: 'stories/new') %>

<div class="row">
	<div class="col-xs-12">
		<em class="text-muted lead"><%= vt('index.hint') %></em>
		<div id="map"></div>
	</div>
</div>

<%= init_map_from(@stories) %>

<iframe class="hidden-iframe" name="new-story-target"></iframe>
