<div class="page-header">
	<h1>One Tribe, Many Memories</h1>
</div>

<%= render(template: 'stories/new') %>

<div class="row">
	<div class="col-xs-12">
		<em class="text-muted">Double-click the map to add a memory</em>
		<div id="map"></div>
	</div>
</div>

<%= init_map_from(@stories) %>
