<div class="page-header">
	<h1><%= @story.identifier %></h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<div id="mini-map" class="col-md-4 col-sm-6 col-xs-12 right-image pull-right"></div>
		<%= simple_format(@story.body) %>
	</div>
</div>

<%= javascript_tag("Memories.loadMinimap('mini-map', #{@story.lat}, #{@story.lng})") %>
