<div class="page-header">
  <h1><%= vt('subscribe') %></h1>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-12">
    <p class="text-center"><%= vt('create.success') %></p>
  </div>
</div>
