<div class="page-header">
	<h1>Subscribe</h1>
</div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-xs-12">
		<p class="text-center">You have been successfully subscribed.</p>
	</div>
</div>
