<html>
  <body>
    This email is to confirm your interest in subscribing to William and Mary Memories. Click <a href="http://localhost:3000/subscriptions/<%= subscriptions(:avery).id %>/verification">here</a> to confirm.

  </body>
</html>
